// start of rest
*, *:before, *:after{
    box-sizing: border-box;
  }
  
  html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
  }
  
  footer, header, nav, section, main{
    display: block;
  }
  
  body{
    line-height: 1;
  }
  
  ol, ul{
    list-style: none;
  }
  
  blockquote, q{
    quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
  }
  
  table{
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  input{
    -webkit-appearance: none;
    border-radius: 0;
  }
//end of reset
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

$main-color: #F9F5FF;
$secondary-color: #D4C2FC;
$tertiary-color: #998FC7;

%button-style{
  width: 15rem;
  border: none;
  height: 3rem;
  display: flex;
  background-color: $secondary-color;
  &:hover{
    background-color: $main-color;
    //border-left: solid 8px lightgreen;
    font-weight: bolder;
    color: black;
  }
}
%button-text{
  flex: 1;
  height: 100%;
  display: grid;
  place-content: center;
  justify-content: start;
  font-family: "Inconsolata";
  font-size: 1.8rem;
}
%task {
  flex: 1;
  display: grid;
  place-content: center;
}
@mixin icon($url) {
  flex: .3;
  height: 100%;
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 90%;
}

body{
    height: 100dvh;
    //background-color: blue;
    display: flex;
    margin: 0;
    overflow: hidden;
} 

.container{
    flex: 1;
    display: flex;
    .nav-bar{
      background-color: $secondary-color;
      flex: 1;
      display: flex;
      flex-direction: column;
      border-right: solid 1px;
      .close{
        border-bottom: solid 1px $main-color;
        border-radius: 100px;
        flex: 1;
        display: flex;
        justify-content: end;
        .dis{
          flex: 1;
          text-align: center;
          display: grid;
          place-content: center;
          font-size: 2.5em;
          font-family: "Inconsolata";
        }
        .icon{
          height: 60%;
          background-image: url(./icons/icons8-menu.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          flex: auto;
          max-width: 15%;
          margin-right: 1rem;
          &:hover{
            border: white solid 2px;
            background-color: gray;
          }
        }
      }
      .today{
        flex: 5;
        display: flex;
        flex-direction: column;
        border-bottom: solid 1px black;
        .all-task{
          @extend %task;
          .task{
            @extend %button-style;
            color: rgb(161, 161, 199);
            .i{
              @include icon($url: "./icons/all.svg");
            }
            .t{
              @extend %button-text;
            }
          }
          .clicked{
            background-color: lightgreen;
            border-left: solid 8px lightcoral;
            color: black;
          }
        }
        .day{
          flex: 1;
          display: flex;
          flex-direction: column;
          .ad-task{
            @extend %task;
            .d-task{
              @extend %button-style;
              color: rgb(161, 161, 199);
              .d-i{
                @include icon($url: "./icons/day.svg");
              }
              .d-t{
                @extend %button-text;
              }
            }
            .clicked{
              background-color: lightgreen;
              border-left: solid 8px lightcoral;
            }
          }
        }
        .week{
          flex: 1;
          display: flex;
          flex-direction: column;
          .aw-task{
            @extend %task;
            .w-task{
              @extend %button-style;
              color: rgb(161, 161, 199);
              .w-i{
                @include icon($url: "./icons/week.svg");
              }
              .w-t{
                @extend %button-text;
              }
            }
            .clicked{
              background-color: lightgreen;
              border-left: solid 8px lightcoral;
            }
          }
        }
      }
      .projects{
        flex: 5;
        display: flex;
        flex-direction: column;
        .project{
          flex: 1;
          display: grid;
          place-content: center;
          .add-project{
            font-size: 2rem;
            width: 16rem;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: $secondary-color;
            border: none;
            &:hover{
              background-color: gray;
              color: white;
            }
            .p{
              flex: .8 1 auto;
              min-width: 5%;
              height: 100%;
              background-image: url(./icons/plus.svg);
              background-repeat: no-repeat;
              background-size: 80%;
            }
            .t{
              flex: 7;
            }
          }
        }
        .p-container{
          flex: 3;
          height: 10%;
          padding-left: 15%;
          padding-right: 15%;
          overflow: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          .ps{
            width: 90%;
            height: 20%;
            display: grid;
            place-content: center;
            font-size: 1.5rem;
            display: flex;
            .p-name{
              flex: 1;
              max-height: 50%;
              &:hover{
                background-color: $main-color;
              }
            }
            .pi-cont{
              flex: .1;
              display: grid;
              place-content: start;
              background-image: url(./icons/option.svg);
              background-size: 1.5rem;
              background-position-x: center;
              background-repeat: no-repeat;
              height: 50%;
              min-width: 15%;
              &:hover{
                border: $secondary-color solid 5px;
              }
            }
          }
        }
      }
    }
    .content{
      flex: 5;
      width: 100%;
      background-color: $main-color;
      display:flex;
      flex-direction: column;
      
      .header{
        flex: 1;
        max-height: 10%;
        display: grid;
        place-content: center;
        border-bottom: solid 1px;
        .title{
          font-family: "Inconsolata", monospace;
          font-size: 2.5rem;
          font-weight: bold;
          color: $tertiary-color;
        }
      }
      .main-content{
        flex: 1;
        padding: 2rem;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        .content-head{
          background-color: $secondary-color;
          font-weight: bold;
          color: $main-color;
          flex: auto;
          max-height: 10%;
          padding: 1rem;
          display: grid;
          place-content: center;
          justify-content: start;
          font-size: 3rem;
        }
        .lists{
          flex: 3;
        }
      }
    }
}
.open{
  position: absolute;
  width: 3em;
  height: 3em;
  background-image: url(./icons/icons8-menu.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  &:hover{
    border: gray solid 2px;
    background-color: $secondary-color;
  }
}

.pop-cont{
  height: 30%;
  display: grid;
  justify-content: center;
  .pop{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .p-cont{
      flex: 1;
      display: grid;
      place-content: center;
      #p-name{
        height: 3rem;
        width: 15rem;
        border-radius: 12px;
        font-size: 1rem;
        border: none;
        outline: none;
        &:focus{
          border: none;
        }
        &:active{
          border: none;
        }
      }
    }
    .p-button{
      flex: 1;
      display: flex;
      gap: 5px;
      .add{
        flex: 1;
        font-size: 100%;
        background-color: rgb(144, 238, 144, .5);
        font-family:"Inconsolata";
        height: 80%;
        border: none;
        border-radius: 12px;
        &:hover{
          background-color: rgb(144, 238, 144);
        }
      }
      .cancel{
        flex: 1;
        font-family:"Inconsolata";
        background-color: rgb(240, 128, 128, .5);
        font-size: 100%;
        height: 80%;
        border: none;
        border-radius: 12px;
        &:hover{
          background-color: rgb(240, 128, 128);
        }
      }
    }
  }
}